body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cta {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

.cta a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.row > .col-md-4 {
    display: block;
}

.card {
    height: auto;
}

.nav-tabs {
    margin-bottom: 20px; /* Separar tabs de las tarjetas */
}

.card {
    margin-top: 10px; /* Separar tarjetas de las pestañas */
}

/* Botón "+" en las pestañas */
.nav-tabs .btn-primary {
    background-color: #007bff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.nav-tabs .btn-primary:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.nav-tabs .btn-primary .fas {
    font-size: 1.5rem;
}

#add-rutina-btn {
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

#add-rutina-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

